

.container-fluid{

    background-color: grey;
    width: 85%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.img{
    width: 3%;
}